<!DOCTYPE html>
<html>
<body>
<h1 style="-webkit-text-stroke: 3px; color: #1e3b39; font-family: rajdhani; font-size: 50px; font-weight: 800; margin: 0;">SIMPLE <span style="display: inline-block;font-weight: 100;-webkit-text-fill-color: #fff;-webkit-text-stroke-width: 1px;-webkit-text-stroke-color: #000;">RIGS</span></h1>
<hr>
<h2>Hi {{username}}.</h2>
<p>Welcome to Simplerigs, new friend!</p>
<p>To activate your Simplerigs Account, please verify your email address. Your account will not be created until your email address is confirmed.</p>
<a style="font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;color:#fff;text-decoration:none;box-sizing:border-box;border-top:10px solid #429763;border-right:18px solid #429763;border-bottom:10px solid #429763;border-left:18px solid #429763;background-color:#429763;font-size:14px;display:inline-block;height:auto;border-radius:3px;text-align:center;font-weight:bold;padding:5px 10px" href="{{url}}">Verify your email</a>
</body>
</html>